.App {
  display: flex;
  flex-direction: column;
}

.App__header {
  padding: 16px;
  background-color: black;
  color: white;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.App__header > .active {
  color: #4b4b4b;
}

.App__header > * {
  cursor: pointer;
}

.App__content {
  flex-grow: 1;
}
